# intellij
.idea/

# VS code
.vscode/

# Node
frontend/node_modules/

# React
frontend/dist/

# Spring Boot
target/

# Environment
frontend/.env
frontend/.env.local

# logs
*.logs

# OS
.DS_Store
Thumbs.db